/* GENERAL */
:root {
  --accent: #eee;
  --back: #111;
  --valid: #00c8ff;
  --invalid: #ff1e00;
  --s: 15px;
  --m: 20px;
  --gs: 24px;
}

html{
    min-height:100%;
    position:relative;
    overflow-x: hidden;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all .3s;
}

body{
  font-family: Times New Roman, serif;
  font-size: var(--m);
  line-height: 1.2;
  background: var(--back);
  color: var(--accent);
  height:100%;
  text-rendering: optimizeSpeed;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

svg{
  width: 100vw;
  height: 100vh;
  z-index: 105;
  position: absolute;
  top: 0;
  left: 0;

}

svg rect{
  -webkit-transition: stroke-opacity 1s, fill-opacity 1s;
  -moz-transition: stroke-opacity 1s, fill-opacity 1s,;
  -o-transition: stroke-opacity 1s, fill-opacity 1s,;
  transition: stroke-opacity 1s, fill-opacity 1s,;
}

h1{
  font-size: calc(var(--m)*3);
  font-family: Arial, sans-serif;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: none;
  font-weight: normal;
  letter-spacing: -2.5px;


}

h3, p, a, li{
  font-size: var(--m);
}

a{
  transition: color .3s;
  color: #00c8ff;
  text-decoration: none;
}

a:hover{
  font-style: italic;
}

li{
  text-indent: 1em;
}

i{
  font-style: italic;
}

::selection {
  color: unset;
}

::-moz-selection {
  color: unset;
}

.hidden{
  display: none;
}

.page_margin{
  margin-left: var(--gs);
  margin-right: var(--gs);
  margin-top: var(--gs);
}

#foreground{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 120;
  transition: margin-right .5s;
}

.to_recto{
  position: absolute;
  right: 300vw;
}

.to_label{
  font-family: monospace;
  -webkit-font-smoothing: none;
  text-rendering: optimizeSpeed;
  font-size: var(--s);
  width: 30px;
  height: 15px;
  position: absolute;
  color: var(--invalid);
}

.to_recto .recto_inside{
  width: fit-content;
}

#grid{
  z-index: 10;
}

#permaRectos{
  z-index: 100;
}

#liveRectos{
  z-index: 105;
}

#labels{
  z-index: 110;
}

#permaRectos rect{
  -webkit-transition: stroke-opacity 1.5s, fill-opacity 1.5s, width .2s, height .2s;
  -moz-transition: stroke-opacity 1.5s, fill-opacity 1.5s, width .2s, height .2s;
  -o-transition: stroke-opacity 1.5s, fill-opacity 1.5s, width .2s, height .2s;
  transition: stroke-opacity 1.5s, fill-opacity 1.5s, width .2s, height .2s;
}



/* OPTIONS */
#options {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  /*background-color: var(--back);*/
  overflow-x: hidden;
  padding-top: 60px;
  transition: width 0.3s;
  /*border-left: 2px dotted var(--accent);*/
}

#options div {
  background-color: var(--back);
  width: 100vw;
  padding: 8px 8px 8px var(--m);
  font-family: monospace;
  -webkit-font-smoothing: none;
  text-rendering: optimizeSpeed;
  font-size: var(--s);
  color: var(--accent);
  display: block;
  transition: color 0.3s;
  border-left: 1px solid var(--accent);
}

.op_top{
  border-top: 1px solid var(--accent);
}

.op_btm{
  border-bottom: 1px solid var(--accent);
  box-shadow: 5px 5px 0px var(--accent);
}

#options input{
  filter: grayscale(1);
}

#options .closebtn {
  color: var(--accent);
  font-style: italic;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}






/* CONTENT */





/*MEDIA QUERY*/
@media (min-width: 1px) {
  /*GENERAL*/
  :root {
    --s: 15px;
    --m: 17.5px;
    --gs: 21px;
  }

}





@media (min-width: 576px) {
  /*GENERAL*/
  :root {
    --s: 15px;
    --m: 20px;
    --gs: 24px;
  }

}




























